
.password-generator {
  padding: 3.5rem 0 .875rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-black-400);
  color: white;
}

.password-generator__label {
  text-align: center;
}

.password-generator__description {
  margin: .5rem 0;
  font-weight: 300;
}

.password-generator__title {
  font-size: 2.5rem;
}

.password-generator__input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 695px;
}

.password-generator__input {
  width: 100%;
  padding: .875rem 1.25rem;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
}

.password-generator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.0625rem 1.25rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.password-generator__button--regenerate {
  background-color: #FFFFFF;
}

.password-generator__button--copy {
  background: #09A858;
  color: white;
}

.password-generator__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1.5rem 0;
}

.password-generator__option {
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: .625rem;
}

.password-generator__checkbox {
  margin-right: 0.5rem;
  vertical-align: middle;
}


@media (max-width: 768px) {
    .password-generator__input-wrapper {
        flex-direction: column;
    }
    .password-generator__button {
        margin-left: 0;
        margin-top: 0.5rem;
        width: 100%;
    }
    .password-generator__options {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px) {
  .password-generator__options {
    grid-template-columns: 1fr;
  }
}